<!-- Content Wrapper -->
<div id="content-wrapper">

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title has-description">
                        <h1>Blog</h1>
                        <p>I share my thoughts and upcomings here.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="post-list horizontal">
                      {% for post in site.posts limit:18 %}
                        <article class="post clearfix">
                            <div class="col-sm-12 col-md-7 no-padding-left post-img-wrap">
                                <a href="{{ post.link }}" class="post-img">
                                    <img src="{{ post.image-thumb }}" alt="{{ post.alt }}">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-5 no-padding-right post-content-wrap">
                                <div class="post-content">
                                    <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>
                                    <h2 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
                                    <ul class="post-meta">
                                        <li class="post-author"><a href="/about">{{ post.author }}</a></li>
                                        <li class="post-category">{{ post.categories }}</li>
                                    </ul>
                                    <p class="post-excerpt">{{ post.excerpt }}</p>
                                    <div class="post-btn button">
                                        <a href="{{ post.link }}">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Wrapper Ends -->
