<section class="contact-info">

  <div class="container">

    <div class="bar"></div>

    <div class="contact-items">
      <div class="contact-item">
        <span>Email: </span>
        <strong>samflickgraphics@gmail.com</strong>
      </div>
      <div class="contact-item">
        <span>Phone: </span>
        <strong>502.930.5191</strong>
      </div>
    </div>

    <ul class="social">
        <li class="box-social"><a href="https://instagram.com/samflickgraphics">Instagram</a></li>
        <li class="box-social"><a href="https://twitter.com/samflickgraphi">Twitter</a></li>
        <li class="box-social"><a href="https://medium.com/@samflickgraphi">Medium</a></li>
        <li class="box-social"><a href="https://behance.net/samflickgraphics">Behance</a></li>
        <li class="box-social"><a href="https://dribbble.com/samflick">Dribbble</a></li>
    </ul>

  </div>

</section>
