<section class="container-fluid featured">

  {% for portfolio_item in site.portfolio limit:8 %}
      <div class="col-sm-6 col-md-3 item">

      <div class="image-wrapper">
          <a href="/projects/{{ portfolio_item.link }}">
            <img src="{{ portfolio_item.src }}" alt="{{ portfolio_item.alt }}" class="img-responsive" srcset="{{ portfoio_item.retina }}">
            <div class="image-hover">
              <div class="clearfix">
                <div class="project-meta">
                  <span>{{ portfolio_item.name }}</span>
                  <em>{{ portfolio_item.category }}</em>
                </div>
              </div>
            </div>
          </a>

      </div>

    </div>
  {% endfor %}

  <div class="col-xs-12 center home-btn">
    <a href="/work/" class="large-btn big color">View More Projects</a>
  </div>

</section>
