<section class="container filter">

  <div class="bar"></div>

  <div class="categories-grid fadeInLeft">
          <nav class="categories">
              <ul class="portfolio_filter">
                  <li><a href="" class="active" data-filter="*">All</a></li>
      {% for categories_item in site.categories %}
                  <li><a href="" data-filter="{{ categories_item.category }}">{{ categories_item.title }}</a></li>
      {% endfor %}
              </ul>
          </nav>

  </div>

</section>
