
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="left">
                <p class="legal">
                &copy; Sam Flick 2017
                </p>
                <span>
                    <a class="email" href="mailto:samflickgraphics@gmail.com">samflickgraphics@gmail.com</a>
                </span>
            </div>
            <div class="right">
                <ul class="social">
                    <li class="box-social"><a href="https://instagram.com/samflickgraphics">Instagram</a></li>
                    <li class="box-social"><a href="https://twitter.com/samflickgraphi">Twitter</a></li>
                    <li class="box-social"><a href="https://medium.com/@samflickgraphi">Medium</a></li>
                    <li class="box-social"><a href="https://behance.net/samflickgraphics">Behance</a></li>
                    <li class="box-social"><a href="https://dribbble.com/samflick">Dribbble</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
