<section class="contact padding">

  <div class="container">

    <div class="bar"></div>

    <h2>Get in Touch</h2>

    <p>I am currently available for freelance illustration and or graphic design work. Email is preferred.
    <br><br>
    I look forward to working with you.</p>

    <form action="https://formspree.io/samflickgraphics@gmail.com"
      method="POST">
    <div class="col-md-6">
      <div class="input-contact">
        <input type="text" name="name">
        <span>Your Name</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-contact">
        <input type="email" name="_replyto">
        <span>Your Email</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="input-contact">
        <input type="subject" name="subject">
        <span>Subject</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="textarea-contact">
        <textarea name="message"></textarea>
        <span>Tell me about your project</span>
      </div>
    </div>
    <div class="col-sm-3">
      <input type="submit" value="Send">
    </div>
  </form>

  </div>

</section>
