<section class="container home padding">

  <div class="bar"></div>

  <h1>Hello<span class="color">.</span> I‘m Sam<span class="color">.</span></h1>

  <div class="col-md-6 no-padding">
    <p class="body">I am a graphic designer, web designer, and digital artist who lives about 10.5 miles from Louisville, Kentucky.
    <br><br>
    I currently go to school at Western Kentucky University and I work at the College Heights Herald and WKU Talisman Magazine.</p>
  </div>

  <div class="mouse">
      <div class="scroll"></div>
  </div>

</section>
