<!-- Content Wrapper -->
<div id="content-wrapper">

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1 class="heading">Hello<span class="color">.</span> I'm Sam<span class="color">.</span></h1>
                        <h4>Graphic Designer, Digital Artist, College Student living near Louisville, KY.</h4>
                    </div>
                    <!-- Portfolio Wrap -->
                    <div class="portfolio-wrap">
                        <!-- Portfolio Filter -->
                        <div id="filters-container" class="cbp-l-filters-text text-left">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                                All
                            </div>
                            <div data-filter=".graphic" class="cbp-filter-item">
                                Graphic Design
                            </div>
                            <div data-filter=".branding" class="cbp-filter-item">
                                Branding
                            </div>
                            <div data-filter=".digital" class="cbp-filter-item">
                                Digital Art
                            </div>
                            <div data-filter=".uiux" class="cbp-filter-item">
                                UI/UX
                            </div>
                        </div>
                        <!-- Portfolio Filter -->

                        <!-- Portfolio Items -->
                        <div id="portfolio-container" class="cbp" data-layoutmode="grid" data-gaphorizontal="30" data-gapvertical="30" data-captionanimation="zoom" data-animationtype="quicksand" data-large-desktop="2" data-medium-desktop="2" data-tablet="2">
                          {% for portfolio_item in site.portfolio %}
                            <div class="cbp-item {{ portfolio_item.category }}">
                                <a href="{{ portfolio_item.link }}" class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{{ portfolio_item.image }}" alt="{{ portfolio_item.alt }}" srcset="{{ portfolio_item.retina }}">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">{{ portfolio_item.title }}</div>
                                                <div class="cbp-l-caption-desc">{{ portfolio_item.subtitle }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                          {% endfor %}
                        </div>
                        <!-- Portfolio Items -->

                    </div>
                    <!-- Portfolio Wrap Ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- Main Wrapper Ends -->
