<section class="about">

  <div class="container">

    <div class="profile-image padding">
      <img src="/assets/img/profile-pic.jpg" alt="profile pic">
    </div>

    <div class="bio-content">
      <h2>About</h2>

      <div class="bar"></div>

      <div class="profile-paragraph">
        <p>I am a graphic designer, web designer, and digital artist who is just outside Louisville, Kentucky, USA. Currently,
          I am attending Western Kentucky University and am majoring in Advertising and minoring in Graphic Design.
          <br><br>
          Right now, I am working at the College Heights Herald and WKU Talisman Magazine at Western Kentucky University as a graphic designer and web designer.
          I designed spreads for the first edition of the Talisman. In addition to this, I have also recently joined the design team at the College Heights Herald
          where I am creating newspaper and webpage layouts for them as they deliver stories to the campus. I have also recently gotten an internship at Imagewest
          ad agency in Bowling Green, Kentucky where that begins this fall.
          <br><br>
          I have been in a number of exhibitions on both a local and regional scale. In high school, I won a Silver Key at the 2016 Scholastic Art and Writing Awards in Louisville, Kentucky.
          In university, I got the opportunity to exhibit my work at a Juror Selected Art Exhibition hosted by Western Kentucky University to which my work was displayed at the
          Kentucky Council on Post-Secondary Education in Frankfurt, Kentucky. In August, I got to be in my first professional exhibition at the Kaviar Art Gallery under the
          exhibition, “Image and Word.”
        </p>
      </div>

        <div class="bio-social">
          <ul>
            <li class="box-social"><a href="https://instagram.com/samflickgraphics">Instagram</a></li>
            <li class="box-social"><a href="https://twitter.com/samflickgraphi">Twitter</a></li>
            <li class="box-social"><a href="https://medium.com/@samflickgraphi">Medium</a></li>
            <li class="box-social"><a href="https://behance.net/samflickgraphics">Behance</a></li>
            <li class="box-social"><a href="https://dribbble.com/samflick">Dribbble</a></li>
          </ul>
        </div>

    </div>

  </div>

</section>
