<section class="portfolio clearfix">

    {% for portfolio_item in site.portfolio %}
        <div class="col-md-3 col-sm-6 item {{ portfolio_item.class }}">
          <div class="image-wrapper">
            <a href="/projects/{{ portfolio_item.link }}" class="portfolio_item">
                <img src="{{ portfolio_item.src }}" alt="image" class="img-responsive" srcset="{{ portfoio_item.retina }}" />
                <div class="image-hover">
                    <div class="clearfix">
                        <div class="project-meta">
                            <span>{{ portfolio_item.name }}</span>
                            <em>{{ portfolio_item.category }}</em>
                        </div>
                    </div>
                </div>
            </a>
          </div>
        </div>
    {% endfor %}

</section>
