<section class="hero">
  <div class="container">
    <div class="row">
      <div class="eight columns offset-by-four hero-content">
          <h1>UCLA Website Evaluation</h1>

          <div class="bar-white"></div>

          <h2>It needs some work.</h2>

          <div class="hero-credits">
            <div class="six columns">
              <h4>Presentation by:</h4>
              <br>
              <p>Sam Flick, David Desloge, Mhari Shaw, Silas Walker</p>
            </div>
            <div class="six columns"></div>
          </div>
          <div class="six columns">
            <h4>Designed by:</h4>
            <br>
            <a href="http://www.samflick.me">Sam Flick</a>
          </div>
      </div>
    </div>
  </div>
</section>
