<section class="analysis">
  <div class="container">
    <div class="six columns">
      <img src="images/img2.jpg" alt="UCLA website">
    </div>
    <div class="six columns">
      <h2>Website Analysis</h2>
      <div class="bar"></div>
      <p>The website is very corporate and hard to navigate. The color palette as mentioned before clashes with the photography and is very disorientating.</p>
      <ul>
        <li>The blue and the yellow clashed with the eyes.</li>
        <li>There is too many things on the homescreen.</li>
        <li>When I go onto the site, I don't know where to go first.</li>
      </ul>
    </div>
  </div>
</section>
