<section>
    <div class="container">
      <div class="six columns">
        <img src="images/img7.jpg" alt="UCLA website">
        <span>Image via <a href="http://brand.ucla.edu/brand/digital/logo/">ucla.edu</a></span>
      </div>
      <div class="six columns">
        <h2>The Logo</h2>
        <div class="bar"></div>
        <p>We think that the logo, while it is effective in communicating a name, is strange in its presentation. The sans-serif font looks strange from a distance and the italics make it seem like something is off.</p>
        <ul>
          <li>The italics are strange and off-putting</li>
          <li>The color palette provides a weird contrast between desaturated blues and saturated golden yellow.</li>
          <li>The visuals are very corporate and are focues away from a student audience and towards an investor audience.</li>
        </ul>
      </div>
    </div>
</section>
