<section class="container services clearfix">

  <div class="bar"></div>

  <h4>What can I do?</h4>

  <div class="row">

      <div class="col-md-6">
        <img class="service-icon" src="/assets/img/icons/services/service-icon1.svg" alt="graphic design">

        <h3>Graphic Design</h3>

        <p>I construct ideas as well as help clients reach the ideas they desire through branding and marketing campaigns on both print media
          and digital media. I create layouts for magazines and newspapers for various publications as well as
          create identities that works for any client.</p>
      </div>
      <div class="col-md-6">
        <img class="service-icon" src="/assets/img/icons/services/service-icon3.svg" alt="digital illustration">

        <h3>Digital Art</h3>

        <p>I create digital, photo, and traditional illustrations for use in digital art, advertising, and concept art.
          I also outilize these skills in conjunction with any graphic design projects in order to help sell a particular idea.</p>
      </div>

  </div>

</section>
