<div class="col-sm-12">
  {% for skills in site.data.settings.skills %}
    <div class="img-box horizontal clearfix">
        <div class="box-thumb">
            <img src="{{ skills.image }}" alt="{{ skills.alt }}">
        </div>
        <div class="box-content">
            <h4>{{ skills.title }}</h4>
            <p>{{ skills.description }}</p>
            <div class="button">
                <a href="{{ skills.link }}">Read More</a>
            </div>
        </div>
    </div>
  {% endfor %}
    <hr class="sep-line">
</div>
