---
layout: default
---

<!-- Content Wrapper -->
<div id="content-wrapper">

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 margin-top-50">
                    <img src="images/about/about-1.png" alt="" class="avatar-img no-padding-right">
                </div>

                <div class="col-sm-12 col-md-offset-2 col-md-8 margin-top-80">
                    <h2 class="title">About me</h2>
                    <p class="body-text">{% include about/about-blurb.html %}</p>
                    <hr class="sep-line">
                </div>
                <div class="col-sm-12 col-md-offset-2 col-md-8 no-padding-left no-padding-right">
                    <div class="col-sm-12">
                        <h2 class="title margin-bottom-25">Experience and Exhibitions</h2>
                    </div>

                    {% include about/about-experience.html %}

                    <div class="col-sm-12">
                        <hr class="sep-line">
                    </div>
                </div>

                <div class="col-sm-12 col-md-offset-2 col-md-8 no-padding-left no-padding-right">
                    <div class="col-sm-12">
                        <h2 class="title margin-bottom-5">Clients and Awards</h2>
                    </div>

                    {% include about/about-clients.html %}

                </div>

                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <hr class="sep-line">
                </div>

                <div class="col-sm-12 col-md-offset-2 col-md-8">
                    <h2 class="title">Availability</h2>
                    <div class="cta text-left">
                        <h2>I am currently available for freelance, <a href="mailto:samflickgraphics@gmail.com">contact me.</a></h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Main Wrapper Ends -->
