<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>

        <!-- Metas -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="CaliberThemes" />

        <!-- Links -->
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="/css/ionicons.css" rel="stylesheet" type="text/css"/>
        <link href="/css/cubeportfolio.css" rel="stylesheet" type="text/css"/>
        <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css"/>
        <link href="/style.css" rel="stylesheet" type="text/css"/>

        <!-- Document Title -->
        <title>Sam Flick - Graphic Designer and Digital Artist living near Louisville, KY</title>

    </head>
    <body>
        <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="standard">
                <div class="header-wrapper">
                    <div class="container">
                        <div id="logo">
                            <a href="/">
                                <img src="/images/logo.png" alt="Logo">
                            </a>
                        </div>
                        <span id="menu-trigger"><span></span></span>
                        <nav id="main-menu">
                            <ul>
                                <li><a href="/" {% if page.url == '/' %} class="active" {% endif %}><div>HOME</div></a></li>
                                <li><a href="/about" {% if page.url == '/about' %} class="active" {% endif %}><div>ABOUT</div></a></li>
                                <li><a href="/services" {% if page.url == '/services' %} class="active" {% endif %}><div>SERVICES</div></a></li>
                                <li><a href="/blog" {% if page.url == '/blog' %} class="active" {% endif %}><div>BLOG</div></a></li>
                                <li><a href="mailto:samflickgraphics@gmail.com"><div>EMAIL ME</div></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            {{ content }}

            <!-- Footer -->
            <footer id="footer" class="standard">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="copyrights">
                                <p>&COPY; 2017 Sam Flick</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="footer-socials">
                                <a href="https://www.instagram.com/samflickgraphics/">Instagram</a>
                                <a href="https://twitter.com/samflickgraphi">Twitter</a>
                                <a href="https://www.linkedin.com/in/samflickgraphics/">Linkedin</a>
                                <a href="https://dribbble.com/samflick">Dribbble</a>
                                <a href="https://www.behance.net/samflickgraphics">Behance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Ends -->

        </div>
        <!-- Content Wrapper Ends -->

    </div>
    <!-- Page Wrapper Ends -->

    <!-- Scripts -->
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/cubeportfolio.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- Scripts Ends -->
</body>
</html>
