---
layout: default
---

<!-- Content Wrapper -->
<div id="content-wrapper">

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h1 class="heading">Hello<span class="color">.</span> I'm Sam<span class="color">.</span></h1>
                        <h4>Graphic Designer, Digital Artist, College Student living near Louisville, KY.</h4>
                    </div>
                    <!-- Portfolio Wrap -->
                    <div class="portfolio-wrap">
                        <!-- Portfolio Filter -->
                        <div id="filters-container" class="cbp-l-filters-text text-left">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                                All
                            </div>
                            <div data-filter=".graphic" class="cbp-filter-item">
                                Graphic Design
                            </div>
                            <div data-filter=".branding" class="cbp-filter-item">
                                Branding
                            </div>
                            <div data-filter=".digital" class="cbp-filter-item">
                                Digital Art
                            </div>
                            <div data-filter=".uiux" class="cbp-filter-item">
                                UI/UX
                            </div>
                        </div>
                        <!-- Portfolio Filter -->

                        {{ content }}

                    </div>
                    <!-- Portfolio Wrap Ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- Main Wrapper Ends -->
