---
layout: default
---
            <!-- Content Wrapper -->
            <div id="content-wrapper">

                <!-- Main Wrapper -->
                <div id="main-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                              <div class="post-single-wrap default clearfix">

                                    <article class="post clearfix">
                                      {% if page.link %}
                                        <h1 class="post-title"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %} <span class="link-arrow">&rarr;</span></a></h1>
                                      {% else %}
                                        <h1 class="post-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
                                      {% endif %}
                                        <ul class="post-meta">
                                            <li class="post-date">{{ page.date | date: '%B %d, %Y' }}</li>
                                            <li class="post-author"><a href="/about">{{ page.author }}</a></li>
                                            <li class="post-category"><a href="/blog">{{ page.class }}</a></li>
                                        </ul>
                                        <div class="post-img">
                                            <img src="{{ page.image.feature }}" alt="{{ page.alt }}">
                                        </div>
                                        <div class="post-content-wrap clearfix col-md-9">
                                            <div class="no-padding-left">
                                                <p>{{ page.content }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 post-content-wrap no-padding-right">
                                            <div class="post-sidebar">
                                                <div class="post-share">
                                                    <h6>Share</h6>
                                                    <ul>
                                                        <li><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ post.title }}%20via%20@samflickgraphi%20www.samflick.me{{ page.url }}">Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                              </div>
                              <ul class="post-nav clearfix">
                                {% if page.previous %}
                                  <li class="post-prev">
                                    <a href="{{ site.url }}{{ page.previous.url }}">
                                      <span>Prev</span>
                                    </a>
                                  </li>
                                {% endif %}
                                {% if page.next %}
                                  <li class="post-next">
                                      <a href="{{ site.url }}{{ page.next.url }}">
                                        <span>Next</span>
                                      </a>
                                  </li>
                                {% endif %}
                              </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Wrapper Ends -->
