---
layout: default
---

<section class="project padding">

  <div class="container">

    <div class="bar"></div>

    <div class="project-info">

      <h2>{{ page.title }}</h2>

      <p>{{ page.description }}</p>

      <ul class="primary-icons">
        <li><img src="/assets/img/icons/project/proj-date.svg" alt="date"><span>{{ page.date }}</span><li>
        <li><img src="/assets/img/icons/project/proj-tools_used.svg" alt="tools"><span>{{ page.tools }}</span><li>
        <li><img src="/assets/img/icons/project/proj-client.svg" alt="client"><span>{{ page.client }}</span><li>
      </ul>

    </div>

    <div class="image">

      {{ content }}

    </div>

    <div class="more-projects">
      <div class="left">
        <h4>Previous Project</h4>
        <span>{{ page.previous }}</span>
        <a href="{{ page.previous_link }}">
          <img src="/assets/img/icons/left.svg" alt="left arrow" height="30px">
        </a>
      </div>
      <div class="right">
        <h4>Next Project</h4>
        <span>{{ page.next }}</span>
        <a href="{{ page.next_link }}">
          <img src="/assets/img/icons/right.svg" alt="right arrow" height="30px">
        </a>
      </div>
    </div>

  </div>

</section>
