---
layout: default
---
            <!-- Content Wrapper -->
            <div id="content-wrapper">

                <!-- Main Wrapper -->
                <div id="main-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title">
                                  {% for services-headline in site.data.settings.services-headline %}
                                    <h1 class="heading">{{ services-headline.headline }}</h1>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 no-padding-left no-padding-right">
                              {% include services/services-list.html %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Wrapper Ends -->
